@mixin mixinDelgomdanEj2($ancho, $color, $estilo) {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 8px;
    border: $ancho $color $estilo;
    text-align: left;
}

.delgomdan {
    &_h1 {
        text-align: center;
    }
    &_ej3_3 {
        margin: 2em .5em 0;
        padding: 6px;
        & .elemento1 {
            @include mixinDelgomdanEj2(2px, blue, solid);
        }
        & .elemento2 {
            @include mixinDelgomdanEj2(5px, red, dotted);
        }
    }
}

@media screen and (max-width: 500px) {
    .delgomdan {
        &_ej3_3 {
            & .elemento1,
            & .elemento2 {
                margin-top: .5em;
                width: 100%;
            }
        }
    }
}